body{
    color: #78580D;
    background: (255, 231, 175);
    margin: 0px;

}

header {
    border-bottom: solid 2px #78580D;
    padding: 20PX;
    font-size: 32PX;
    color: #78580D;
}

section{
    background: #FFE7AF;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}